:root {
    --background-color: #0e6719;
    --secondary-color: #e9eeee;
    --tee-color: #e1cd1d;
    --dark-grey:  #c1c9c6;
    --light-green: #8aba91;
    --light-yellow: #e6dd8c;
    --green: #6ca274;
    --grey: #b9bbbc;
  }   